.advantages-block__list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.advantages-block__item {
  background-color: $grey;
}

.advantages-block__item--inner {
  background-color: $white;
}

.advantages-block__item:first-of-type {
  min-height: 215px;
}

.advantages-block__item--blue-background {
  background-color: $blue;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .advantages-block {
    width: 768px;
  }

  .advantages-block__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .advantages-block__item {
    min-width: 256px;
    min-height: 256px;
  }

  .advantages-block__item--image {
    width: 512px;
  }


  .advantages-block__item--inner {
    width: 100;
    min-height: 331px;
  }

  .advantages-block__item--order-1 {
    order: 1;
  }

  .advantages-block__item--order-2 {
    order: 2;
  }
}


@media (min-width: 1280px) {
  .advantages-block {
    width: 1200px;
  }

  .advantages-block__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }


  .advantages-block__item {
    min-width: 400px;
    min-height: 256px;
  }

  .advantages-block__item--image {
    width: 800px;
  }

  .advantages-block__item--order-1 {
    order: 1;
  }

  .advantages-block__item--order-2 {
    order: 2;
  }
}
