.advantages-block-inner {
  list-style: none;
  padding: 0;
  min-height: 331px;
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  margin-bottom: 51px;
  gap: 22px;
  background-color: #ffffff;
}

.advantages-block-inner__item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  width: 320px;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .advantages-block-inner {
    min-height: 330px;
    min-width: 256px;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    margin: 0;
  }

  .advantages-block-inner__item {
    width: 256px;
    min-height: 311px;
  }
}

@media (min-width: 1280px) {
  .advantages-block-inner {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    margin: 0;
  }

  .advantages-block-inner__item {
    width: 400px;
  }
}
