.advantage-brick-inner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  width: 237px;
  background-color: $white;
  position: relative;
  margin: 0 0 0 59px;
}

.advantage-brick-inner__text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: space-between;
  margin: 0 auto;
  width: 237px;
  min-height: 92px;
}

.advantage-brick-inner::before {
  content: "";
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: absolute;
  left: -41px;
  top: 0;
}

.advantage-brick-inner--decore-house::before {
  content: "";
  background-image: url("../img/decore/decore-backgrounds-stack.svg#house");
}

.advantage-brick-inner--decore-burger::before {
  content: "";
  background-image: url("../img/decore/decore-backgrounds-stack.svg#burger");
}

.advantage-brick-inner--decore-present::before {
  content: "";
  background-image: url("../img/decore/decore-backgrounds-stack.svg#present");
}

.advantage-brick-inner__heading {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 8px;
}

.advantage-brick-inner__description {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: $dark-brown;
  margin: 0;
  padding-left: 5px;
}

.advantage-brick-inner__description-br-burger {
  display: none;
}

.advantage-brick-inner__description-br-souvenirs {
  display: none;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .advantage-brick-inner {
    min-width: 185px;
    margin: auto;
    margin-top: 75px;
    align-items: center;
    flex-direction: column;
    position: relative;
  }

  .advantage-brick-inner__text-wrapper {
    text-align: center;
    width: 190px;
    gap: 14px;
  }

  .advantage-brick-inner::before {
    content: "";
    width: 82px;
    height: 75px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    top: -15px;
    left: 1px;
  }

  .advantage-brick-inner__heading {
    font-size: 21px;
  }

  .advantage-brick-inner__description {
    text-align: center;
    width: 181px;
  }

  .advantage-brick-inner__description-br-burger {
    display: inline;
  }
}

@media (min-width: 1280px) {
  .advantage-brick-inner {
    min-width: 315px;
    margin: auto;
    align-items: center;
    flex-direction: column;
  }

  .advantage-brick-inner__text-wrapper {
    text-align: center;
    width: 300px;
    min-height: 93px;
    margin-top: 21px;
  }

  .advantage-brick-inner::before {
    content: "";
    width: 82px;
    height: 72px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    top: -2px;
    left: -3px;
  }

  .advantage-brick-inner__heading {
    font-size: 21px;
  }

  .advantage-brick-inner__description {
    text-align: center;
    width: 288px;
  }

  .advantage-brick-inner__description-br-souvenirs {
    display: inline;
  }
}
