.banner-small {
  background-image: url("../img/backgrounds/back-mobile-small.jpg");
  background-color: $black;
  background-position: center bottom;
  background-size: 320px 214px;
  position: relative;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/backgrounds/back-mobile-small@2x.jpg");
  }
}

.banner-small__img {
  display: block;
  margin: 0 auto;
  padding: 52px 0 67px 0;
}

.banner-small::after {
  content: " ";
  position: absolute;
  background-image: url("../img/decore/decore-backgrounds-stack.svg#banner-flange");
  background-position: center;
  width: 100%;
  height: 57px;
  bottom: 0;
  background-size: 1200px 57px;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .banner-small {
    background-size: 768px 346px;
    background-image: url("../img/backgrounds/back-tablet-small.jpg");
    background-position: center bottom;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/backgrounds/back-tablet-small@2x.jpg");
    }
  }

  .banner-small__img {
    padding: 95px 0 117px 0;
    width: 457px;
    height: 77px;
  }
}

@media (min-width: 1280px) {
  .banner-small {
    background-size: 1200px 357px;
    background-image: url("../img/backgrounds/back-desktop-small.jpg");
    background-position: center bottom;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/backgrounds/back-desktop-small@2x.jpg");
    }
  }

  .banner-small__img {
    padding: 101px 0 120px 0;
    width: 460px;
    height: 80px;
  }
}
