.banner-small {
  background-image: url("/img/banner-back-desktop.jpg");
  background-color: $black;
  background-position: center bottom;
  background-size: 902px;
}

.banner-small__img {
  display: block;
  margin: 0 auto;
  padding: 52px 0 67px 0;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .banner-small {
    background-size: auto auto;
  }

  .banner-small__img {
    padding: 95px 0 117px 0;
    width: 457px;
    height: 77px;
  }
}

@media (min-width: 1280px) {
  .banner-small {
    background-size: auto auto;
  }

  .banner-small__img {
    padding: 101px 0 120px 0;
    width: 460px;
    height: 80px;
  }
}
