.feedback-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 7px;
}

.feedback-form__fieldset {
  min-width: 280px;
  padding: 0;
  margin: 0;
  border: none;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 34px;
  row-gap: 16px;
}

.feedback-form__fieldset--checkbox {
  row-gap: 16px;
  margin-bottom: 24px;
}

.feedback-form__fieldset--radio {
  row-gap: 16px;
  margin-bottom: 22px;
}

.feedback-form__fieldset-legend {
  margin: 0 auto;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  padding-bottom: 20px;
  text-align: center;
}

.feedback-form__fieldset-wrapper {
  border-top: 1px solid #e5e5e5;
  padding-top: 24px;
  width: 320px;
}

.feedback-form__input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
}

.feedback-form__radio-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 16px;
  position: relative;
  margin-left: 20px;
}

.feedback-form__checkbox-wrapper {
  min-width: 280px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 16px;
  position: relative;
  margin-left: 20px;
}

.feedback-form__text-input {
  width: 280px;
  height: 58px;
  background-color: #f2f2f2;
  border: none;
  margin: 0 auto;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  box-sizing: border-box;
  padding: 16px;
  font-weight: 700;
}

.feedback-form__text-input::placeholder {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.3);
}

.feedback-form__text-input:hover {
  background-color: #e5e5e5;
}

.feedback-form__text-input:active {
  background-color: #ffffff;
  box-sizing: border-box;
  border: 4px solid #e5e5e5;
  outline: none;
}

.feedback-form__text-input:focus {
  background-color: #ffffff;
  box-sizing: border-box;
  border: 4px solid #e5e5e5;
  outline: none;
}

.feedback-form__text-input--telephone {
  width: 222px;
}

.feedback-form__text-input--email {
  width: 222px;
}

.feedback-form__input-wrapper-inner {
  display: flex;
  gap: 0;
  margin: 0 auto;
}

.feedback-form__text-input--telephone + .feedback-form__text-input-decore {
  width: 58px;
  height: 58px;
  background-color: #e6e6e6;
  background-image: url("../img/decore/decore-backgrounds-stack.svg#phone");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 18px 18px;
}

.feedback-form__text-input--email + .feedback-form__text-input-decore {
  width: 58px;
  height: 58px;
  background-color: #e6e6e6;
  background-image: url("../img/decore/decore-backgrounds-stack.svg#mail");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 18px 18px;
}

.feedback-form__label {
  padding-left: 36px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
}

.feedback-form__radio-control-mark {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background-color: #f2f2f2;
}

.feedback-form__radio-checked-mark {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 16px;
  height: 16px;
  fill: #333333;
  display: none;
}

.feedback-form__radio-wrapper:hover .feedback-form__radio-control-mark {
  background-color: #e5e5e5;
}

.feedback-form__radio-wrapper:active .feedback-form__radio-control-mark {
  background-color: #d5d5d5;
}

.feedback-form__radio-wrapper:active .feedback-form__radio-checked-mark {
  fill: rgba(51, 51, 51, 0.3);
}

.feedback-form__radio-input:checked + .feedback-form__label-radio .feedback-form__radio-checked-mark {
  display: block;
}

.feedback-form__checkbox-control-mark {
  width: 46px;
  height: 46px;
  border-radius: 4px;
  background-color: #f2f2f2;
}

.feedback-form__checkbox-checked-mark {
  position: absolute;
  top: 15px;
  left: 12px;
  width: 24px;
  height: 16px;
  fill: #333333;
  display: none;
}

.feedback-form__checkbox-wrapper:hover .feedback-form__checkbox-control-mark {
  background-color: #e5e5e5;
}

.feedback-form__checkbox-wrapper:active .feedback-form__checkbox-control-mark {
  background-color: #d5d5d5;
}

.feedback-form__checkbox-wrapper:active .feedback-form__checkbox-checked-mark {
  fill: rgba(51, 51, 51, 0.3);
}

.feedback-form__checkbox-input:checked + .feedback-form__label-checkbox .feedback-form__checkbox-checked-mark {
  display: block;
}

.feedback-form__label-radio {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.feedback-form__label-checkbox {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.feedback-form__textarea-input {
  width: 279px;
  min-height: 150px;
  margin: 0 auto;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  background: #f2f2f2;
  border: none;
  resize: none;
  padding: 16px;
  color: #000000;
  box-sizing: border-box;
}

.feedback-form__button-field-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.feedback-form__submit-button {
  width: 281px;
  min-height: 58px;
  margin: 0 auto;
  border: none;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #81b3d2;
  margin-top: 22px;
}

.feedback-form__submit-button:hover {
  background-color: #669cc0;
}

.feedback-form__submit-button:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.feedback-form__submit-button:disabled {
  background-color: #e5e5e5;
}

.feedback-form__warning {
  margin: 0;
  margin-right: -1px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  align-self: flex-end;
  text-transform: uppercase;
}


@media (min-width: 768px) and (max-width: 1279px) {
  .feedback-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 648px;
  }

  .feedback-form__input-wrapper {
    display: flex;
    flex-direction: column;
  }

  .feedback-form__fieldset-wrapper {
    border: none;
    padding: 0;
    align-items: flex-start;
  }

  .feedback-form__fieldset-wrapper--half-width {
    width: 49.92%;
  }

  .feedback-form__fieldset-wrapper--full-width {
    width: 100%;
    //margin-top: 30px;
  }

  .feedback-form__fieldset-wrapper--full-width legend {
    width: 310px;
    position: relative;
  }

  .feedback-form__fieldset--radio {
    margin-top: 30px;
    margin-bottom: 50px;
    padding: 0 35px;
  }

  .feedback-form__fieldset--checkbox {
    margin-bottom: 43px;
    padding: 0 82px;
  }

  .feedback-form__fieldset-legend--decore::after {
    content: "";
    width: 123px;
    height: 1px;
    background: #dbdbdb;
    position: absolute;
    top: 29%;
    left: 357px;
  }

  .feedback-form__fieldset-legend--decore::before {
    content: "";
    width: 123px;
    height: 1px;
    background: #dbdbdb;
    position: absolute;
    top: 29%;
    left: -166px;
  }

  .feedback-form__checkbox-wrapper {
    min-width: 47%;
    margin: 0;
  }

  .feedback-form__label {
    padding-left: 15px;
  }

  .feedback-form__radio-wrapper {
    margin-left: 0;
    min-width: 49%;
  }

  .feedback-form__button-field-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 648px;
    margin: 14px auto 62px auto;
  }

  .feedback-form__fieldset--left {
    align-items: flex-start;
    position: relative;
  }

  .feedback-form__fieldset--left::after {
    content: "";
    position: absolute;
    top: -17px;
    right: 0;
    width: 1px;
    height: 338px;
    background-color: #dbdbdb;
  }

  .feedback-form__fieldset--right {
    align-items: flex-end;
  }

  .feedback-form__fieldset-legend {
    font-size: 21px;
    padding-bottom: 27px;
  }

  .feedback-form__fieldset-wrapper--full-width .feedback-form__fieldset {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .feedback-form__textarea-input {
    width: 648px;
    min-height: 160px;
  }

  .feedback-form__submit-button {
    margin: 0;
    width: 324px;
    min-height: 58px;
  }

  .feedback-form__warning {
    font-size: 14px;
    margin: 0;
    margin-bottom: 14px;
  }
}

@media (min-width: 1280px) {
  .feedback-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 960px;
  }

  .feedback-form__fieldset-wrapper {
    border: none;
    padding: 0;
    align-items: flex-start;
  }

  .feedback-form__input-wrapper {
    display: flex;
    flex-direction: column;
  }

  .feedback-form__fieldset-wrapper--half-width {
    width: 49.94%;
  }

  .feedback-form__fieldset-wrapper--full-width {
    width: 100%;
    margin-top: 34px;
  }

  .feedback-form__fieldset-wrapper--full-width legend {
    position: relative;
    width: 310px;
    padding-left: 0;
  }

  .feedback-form__fieldset-legend--decore::after {
    content: "";
    width: 281px;
    height: 1px;
    background: #dbdbdb;
    position: absolute;
    top: 29%;
    left: 373px;
  }

  .feedback-form__fieldset-legend--decore::before {
    content: "";
    width: 281px;
    height: 1px;
    background: #dbdbdb;
    position: absolute;
    top: 29%;
    left: -323px;
  }

  .feedback-form__fieldset-wrapper--full-width .feedback-form__fieldset {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .feedback-form__label {
    padding-left: 16px;
  }

  .feedback-form__button-field-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 768px;
    margin: 14px auto 62px auto;
  }

  .feedback-form__fieldset--radio {
    padding: 0 55px;
  }

  .feedback-form__fieldset--radio legend {
    padding-bottom: 45px;
  }

  .feedback-form__fieldset--checkbox {
    margin-top: 17px;
    margin-bottom: 53px;
    padding: 0 44px;
  }

  .feedback-form__fieldset--checkbox legend {
    padding-bottom: 60px;
  }

  .feedback-form__fieldset-legend {
    font-size: 21px;
    padding-bottom: 28px;
    padding-left: 14px;
  }

  .feedback-form__fieldset--left {
    align-items: flex-start;
    margin-bottom: 37px;
    position: relative;
  }

  .feedback-form__fieldset--left::after {
    content: "";
    position: absolute;
    top: -55px;
    right: -15px;
    width: 1px;
    height: 338px;
    background-color: #dbdbdb;
  }

  .feedback-form__fieldset--right {
    align-items: flex-end;
  }

  .feedback-form__text-input {
    width: 430px;
  }

  .feedback-form__text-input--telephone {
    width: 344px;
  }

  .feedback-form__text-input--email {
    width: 344px;
  }

  .feedback-form__checkbox-wrapper {
    margin-left: 0;
    min-width: 157px;
  }

  .feedback-form__radio-wrapper {
    margin-left: 0;
  }

  .feedback-form__textarea-input {
    width: 768px;
    min-height: 160px;
  }

  .feedback-form__submit-button {
    margin: 0;
    width: 384px;
    min-height: 58px;
  }

  .feedback-form__warning {
    font-size: 14px;
    margin: 0;
    margin-bottom: 14px;
  }
}
