.main-navigation {
  display: flex;
  justify-content: center;
  position: relative;
  min-width: 320px;
  min-height: 56px;
  z-index: 1;
}

.main-navigation__toggle {
  position: absolute;
  right: 21px;
  top: 17px;
  z-index: 7;
}

.main-navigation__navigation-menu {
  z-index: 5;
  position: absolute;
  top: 0;
  display: block;

}

.main-navigation__navigation-menu .navigation-menu__item {
  display: none;
}

.main-navigation__navigation-menu .navigation-menu__item--logo {
  display: block;
  height: 56px;
}

.main-navigation__navigation-menu--no-js {
  position: static;
  display: block;
}

.main-navigation__navigation-menu--no-js ~ .main-navigation__toggle {
  display: none;
}

.main-navigation__navigation-menu--open .navigation-menu__item{
  display: block;
}

.main-navigation__navigation-menu--open .navigation-menu__item--logo {
  display: none;
}

.main-navigation__logo--outer {
  position: absolute;
  top: 0;
  z-index: 2;
}


@media (min-width: 768px) and (max-width: 1279px) {
  .main-navigation {
    min-width: 768px;
  }

  .main-navigation__toggle {
    display: none;
  }

  .main-navigation__navigation-menu {
    display: flex;
    z-index: auto;
    position: static;
  }

  .main-navigation__navigation-menu .navigation-menu__item {
    display: block;
  }

  .main-navigation__navigation-menu .navigation-menu__item--logo {
    order: 0;
  }
}

@media (min-width: 1280px) {
  .main-navigation {
    min-width: 1200px;
  }

  .main-navigation__toggle {
    display: none;
  }

  .main-navigation__navigation-menu {
    display: flex;
    z-index: auto;
    position: static;
  }

  .main-navigation__navigation-menu .navigation-menu__item {
    display: block;
  }

  .main-navigation__navigation-menu .navigation-menu__item--logo {
    order: 0;
  }
}
