.modal-success {
  min-width: 320px;
  min-height: 323px;
}

.modal-success__heading {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}

.modal-success__text {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  color: #333333;
}

.modal-success__button-wrapper {
  display: flex;
  width: 100%;
  height: 98px;
  background: #f2f2f2;
}

.modal-success__button {
  width: 280px;
  min-height: 58px;
  background: #81b3d2;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
  border: none;
  text-transform: uppercase;
  margin: auto;
}
