.modal-success {
  width: 320px;
  min-height: 323px;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: auto;
  background-color: #ffffff;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
}

.modal-success__heading {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 39px;
}

.modal-success__text {
  width: 244px;
  margin: 7px auto 1px auto;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  color: #333333;
}

.modal-success__button-wrapper {
  display: flex;
  margin-top: auto;
  width: 100%;
  height: 98px;
  background: #f2f2f2;
}

.modal-success__button {
  width: 280px;
  min-height: 58px;
  background: #81b3d2;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
  border: none;
  text-transform: uppercase;
  margin: auto;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .modal-success {
    width: 640px;
    min-height: 347px;
    margin: auto;
  }

  .modal-success__heading {
    width: 444px;
    font-size: 30px;
    line-height: 40px;
    margin: 44px auto 22px auto;
  }

  .modal-success__text {
    width: 420px;
    margin-top: 1px;
    margin-bottom: 1px;
  }

  .modal-success__button-wrapper {
    min-height: 146px;
  }

  .modal-success__button {
    width: 458px;
    min-height: 58px;
    font-size: 21px;
  }
}

@media (min-width: 1280px) {
  .modal-success {
    width: 640px;
    min-height: 347px;
    margin: auto;
  }

  .modal-success__heading {
    width: 444px;
    font-size: 30px;
    line-height: 40px;
    margin: 44px auto 22px auto;
  }

  .modal-success__text {
    width: 420px;
    margin-top: 3px;
    margin-bottom: 1px;
  }

  .modal-success__button-wrapper {
    min-height: 146px;
  }

  .modal-success__button {
    width: 458px;
    min-height: 58px;
    font-size: 21px;
    padding-top: 8px;
  }
}
