.modal-error {
  width: 320px;
  min-height: 280px;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: auto;
  margin-top: 116px;
  background-color: #ffffff;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
}

.modal-error__heading {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  width: 237px;
  margin: 45px auto auto auto;
}

.modal-error__text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  color: #333333;
  width: 237px;
  margin: 0 auto 3px auto;
}

.modal-error__button {
  width: 180px;
  min-height: 58px;
  background: #81b3d2;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
  border: none;
  text-transform: uppercase;
  margin: 0 auto;
  margin-top: auto;
  margin-bottom: 25px;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .modal-error {
    width: 400px;
    min-height: 347px;
    margin-top: 283px;
  }

  .modal-error__heading {
    width: 307px;
    font-size: 30px;
    line-height: 40px;
  }

  .modal-error__text {
    width: 307px;
  }

  .modal-error__button {
    width: 250px;
    min-height: 58px;
    margin-top: auto;
    margin-bottom: 49px;
    font-size: 21px;
  }
}

@media (min-width: 1280px) {
  .modal-error {
    width: 400px;
    min-height: 347px;
    margin-top: 244px;
  }

  .modal-error__heading {
    width: 307px;
    font-size: 30px;
    line-height: 40px;
  }

  .modal-error__text {
    width: 307px;
  }

  .modal-error__button {
    width: 250px;
    min-height: 58px;
    margin-top: auto;
    margin-bottom: 49px;
    font-size: 21px;
  }
}
