.navigation-menu {
  width: 320px;
}

.navigation-menu__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navigation-menu__item {
  box-sizing: border-box;
  width: 320px;
  min-height: 55px;
  background-color: #81b3d2;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);
}

.navigation-menu__item--logo {
  display: none;
}

.navigation-menu__item:first-child {
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2);
}

.navigation-menu__item:last-child {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
}

.navigation-menu__item:last-child::after {
  content: " ";
  width: 320px;
  height: 7px;
  z-index: 5;
  position: relative;
  bottom: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
}

// .navigation-menu__logo--inner {
//   display: none;
// }

.navigation-menu__link {
  color: #ffffff;
  display: block;
  width: 320px;
  padding-bottom: 12px;
  padding-top: 17px;
  text-decoration: none;
}

.navigation-menu__link:hover {
  color: #ffffff;
  background-color: #669ec0;
}

.navigation-menu__link:active {
  color: #ffffff;
  opacity: 0.3;
  background-color: #5496bd;
}
// .navigation-menu__link:visited {
//   color: #ffffff;
// }


@media (min-width: 768px) and (max-width: 1279px) {
  .navigation-menu {
    width: 768px;
  }

  .navigation-menu__list {
    display: flex;
    flex-direction: row;
  }

  .navigation-menu__item {
    border: none;
    box-shadow: none;
    width: 153px;
    background-color: #ffffff;
  }

  .navigation-menu__item:first-child {
    box-shadow: none;
  }

  .navigation-menu__item--logo {
    display: block;
    position: relative;
  }

  .navigation-menu__logo--inner {
    position: absolute;
    top: 0;
    left: -16px;
  }

  .navigation-menu__link {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    color: #000000;
    box-sizing: border-box;
    width: auto;
    height: auto;
  }

  .navigation-menu__link:hover {
    color: #81b3d2;
    background-color: #ffffff;
  }

  .navigation-menu__link:active {
    color: #000000;
    opacity: 0.3;
    background-color: #ffffff;
  }

  .navigation-menu__link--current {
    color: #766357;
  }

  // .navigation-menu__link:visited {
  //   color: #000000;
  // }

  .navigation-menu__logo-inner {
    display: block;
    z-index: 5;
  }
}

@media (min-width: 1280px) {
  .navigation-menu {
    width: 1200px;
  }

  .navigation-menu__list {
    display: flex;
    flex-direction: row;
  }

  .navigation-menu__item {
    border: none;
    box-shadow: none;
    width: 240px;
    background-color: #ffffff;
  }

  .navigation-menu__item:first-child {
    box-shadow: none;
  }

  .navigation-menu__item--logo {
    display: block;
    position: relative;
  }

  .navigation-menu__logo--inner {
    position: absolute;
    top: 0;
    left: 27px;
  }

  .navigation-menu__link {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    color: #000000;
    box-sizing: border-box;
    width: auto;
    height: auto;
  }

  .navigation-menu__link:hover {
    color: #81b3d2;
    background-color: #ffffff;
  }

  .navigation-menu__link:active {
    color: #000000;
    opacity: 0.3;
    background-color: #ffffff;
  }

  .navigation-menu__link--current {
    color: #766357;
  }

  // .navigation-menu__link:visited {
  //   color: #000000;
  // }

  .navigation-menu__logo-inner {
    display: block;
    z-index: 5;
  }
}
