.page__body {
  width: 320px;
  background-color: #ffffff;
  margin: 0 auto;
}


@media (min-width: 768px) and (max-width: 1279px) {
  .page__body {
    width: 768px;
  }
}

@media (min-width: 1280px) {
  .page {
    width: 1280px;
    margin: 0 auto;
  }

  .page__body {
    width: 1200px;
  }
}
