@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/ptsans.woff2") format("woff2"), url("../fonts/ptsans.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/ptsansbold.woff2") format("woff2"), url("../fonts/ptsansbold.woff") format("woff");
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.page {
  background: #e7e5e5;
}

.page__body {
  width: 320px;
  background-color: #ffffff;
  margin: 0 auto;
}


@media (min-width: 768px) and (max-width: 1279px) {
  .page {
    background: #e7e5e5;
  }

  .page__body {
    width: 768px;
  }
}

@media (min-width: 1280px) {
  .page {
    width: 1280px;
    background: #e7e5e5;
    margin: 0 auto;
  }

  .page__body {
    width: 1200px;
  }
}
