.photo-block {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  border-top: 1px solid #e5e5e5;
}

.photo-block__info-wrapper {
  margin-top: 16px;
}

.photo-block__heading {
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.photo-block__image {
  padding-top: 24px;
  order: -2;
  display: block;
}

.photo-block__author {
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.photo-block__likes-wrapper {
  display: flex;
  flex-direction: row;
  margin-top: 16px;
  gap: 14px;
}

.photo-block__likes-button {
  width: 23px;
  height: 21px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  padding: 0;
}

.photo-block__likes-count {
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  padding-top: 3px;
  padding-bottom: 22px;
}

.photo-block__like-icon {
  fill: #000000;
  opacity: 0.3;
}


@media (min-width: 768px) and (max-width: 1279px) {
  .photo-block {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 50%;
    min-height: 347px;
    margin: 0;
    border: none;
    padding: 0;
  }

  .photo-block:first-of-type {
    width: 100%;
    min-height: 480px;
  }

  .photo-block__image {
    width: 324px;
    height: 267px;
    padding: 0;
  }

  .photo-block:first-of-type .photo-block__image {
    width: 648px;
    height: 400px;
  }

  .photo-block__info-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 80px;
    margin-top: 0;
  }

  .photo-block:nth-child(even) .photo-block__info-wrapper {
    background-color: #f2f2f2;
  }

  .photo-block:nth-child(odd) .photo-block__info-wrapper {
    background-color: #eaeaea;
  }

  .photo-block:first-child .photo-block__info-wrapper {
    background-color: #f2f2f2;
  }

  .photo-block__head-wrapper {
    padding-left: 20px;
    padding-top: 5px;
  }

  .photo-block__likes-wrapper {
    padding-right: 20px;
    gap: 9px;
    padding-top: 5px;
  }
}

@media (min-width: 1280px) {
  .photo-block {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 33.33%;
    min-height: 267px;
    position: relative;
    margin: 0;
    border: none;
    padding: 0;
  }

  .photo-block:first-of-type {
    width: 100%;
    min-height: 400px;
  }

  .photo-block__image {
    width: 400px;
    height: 267px;
    padding: 0;
  }

  .photo-block:first-of-type .photo-block__image {
    width: 1200px;
    height: 400px;
  }

  .photo-block__info-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    min-height: 80px;
  }

  .photo-block__head-wrapper {
    padding-left: 25px;
    padding-top: 0;
    padding-bottom: 2px;
  }

  .photo-block__head-wrapper--first {
    padding-left: 22px;
    padding-top: 4px;
    padding-bottom: 0;
  }

  .photo-block__likes-wrapper {
    padding-right: 19px;
    padding-top: 2px;
    gap: 9px;
    margin-top: 19px;
  }

  .photo-block__heading {
    color: #ffffff;
    margin-bottom: 5px;
  }

  .photo-block__author {
    color: #ffffff;
  }

  .photo-block__likes-count {
    color: #ffffff;
  }

  .photo-block__like-icon {
    fill: #ffffff;
    opacity: 1;
  }
}
