.sedona-banner {
  background-image: url("/img/banner-back-desktop.jpg");
  background-color: $black;
  background-position: center bottom;
  position: relative;
}

.sedona-banner__image {
  position: relative;
  display: block;
  margin: 0 auto;
  padding-top: 90px;
  padding-bottom: 85px;
}

.sedona-banner::after {
  content: " ";
  position: absolute;
  background-image: url("/img/decore/banner-flange.svg");
  background-position: center;
  width: 100%;
  height: 57px;
  bottom: 0;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .sedona-banner {
    background-image: url("/img/banner-back-desktop.jpg");
    background-color: $black;
    background-position: center bottom;
  }

  .sedona-banner__image {
    width: 461px;
    height: 350px;
    padding-top: 77px;
    padding-bottom: 91px;
  }
}

@media (min-width: 1280px) {
  .sedona-banner {
    background-image: url("/img/banner-back-desktop.jpg");
    background-color: $black;
    background-position: center bottom;
  }

  .sedona-banner__image {
    width: 461px;
    height: 350px;
    padding-top: 77px;
    padding-bottom: 91px;
  }
}
