.site-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 320px;
  min-height: 223px;
  margin-top: 0;
}

.site-footer--index {
  margin-top: 4px;
  min-height: 233px;
}

.site-footer__hashtag-link {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: $black;
}

.site-footer__developer-link {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-decoration: none;
  color: $black;
}

.site-footer__developer-link:hover {
  color: #81b3d2;
}

.site-footer__developer-link:active {
  color: #b3b3b3;
}

.site-footer__developer-icon {
  position: relative;
  left: 8px;
  top: 13px;
  fill: #000000;
}

.site-footer__developer-link:hover .site-footer__developer-icon {
  fill: #81b3d2;
}

.site-footer__developer-link:active .site-footer__developer-icon {
  fill: #b3b3b3;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .site-footer {
    flex-direction: row;
    justify-content: space-around;
    width: 768px;
    min-height: 120px;
    margin-top: 0;
  }

  .site-footer__social-links {
    position: relative;
    top: -6px;
    left: -6px;
  }

  .site-footer__developer-link-wrapper {
    position: relative;
    top: -14px;
    left: -8px;
  }

  .site-footer__developer-link-wrapper--index {
    position: relative;
    top: -14px;
    left: -24px;
  }
}

@media (min-width: 1280px) {
  .site-footer {
    flex-direction: row;
    justify-content: space-around;
    width: 1200px;
    min-height: 120px;
    margin-top: 0;
  }

  .site-footer__social-links {
    position: relative;
    top: -6px;
    left: -6px;
  }

  .site-footer__developer-link-wrapper {
    position: relative;
    top: -16px;
    left: 4px;
  }

  .site-footer__hashtag-link-wrapper {
    position: relative;
    top: -2px;
    left: -12px;
  }

  .site-footer__developer-link-wrapper--index {
    position: relative;
    top: -14px;
    left: -12px;
  }
}
