.site-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 320px;
  min-height: 233px;
}

.site-footer__hashtag-link {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: $black;
}

.site-footer__developer-link {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-decoration: none;
  color: $black;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .site-footer {
    flex-direction: row;
    justify-content: space-around;
    width: 768px;
    min-height: 120px;
    margin-top: 40px;
  }
}

@media (min-width: 1280px) {
  .site-footer {
    flex-direction: row;
    justify-content: space-around;
    width: 1200px;
    min-height: 120px;
    margin-top: 40px;
  }
}
