.social-block {
  margin-top: 1px;
}

.social-block__list {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 6px;
  padding: 0;
  margin: 0;
}

.social-block__item {
  width: 48px;
  height: 48px;
  background-color: #81b3d2;
}

.social-block__item:hover {
  background-color: #669ec0;
}

.social-block__item:active {
  background-color: #5496bd;
}

.social-block__item:active .social-block__icon {
  fill: rgba(255, 255, 255, 0.3);
}

.social-block__link {
  display: flex;
  width: 48px;
  height: 48px;
}

.social-block__icon {
  margin: auto;
  fill: #ffffff;
}
